@page "/"
@page "/Gauges"

@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@using Radzen
@using Confluent.Kafka
@using IotXBigData.Shared.Models

@rendermode InteractiveServer
@inject ILogger<Gauges> Logger

<h3>Gauges</h3>

<RadzenStack Orientation="Radzen.Orientation.Horizontal" AlignItems="Radzen.AlignItems.Start" Gap="20px">

    <!-- Temperature Gauge -->
    <RadzenCard Variant="Radzen.Variant.Outlined">
        <RadzenRadialGauge Style="width: 100%; height: 300px;">
            <RadzenRadialGaugeScale StartAngle="-150" EndAngle="150" Step="20" Min="0" Max="260"
                TickPosition="@tickPosition">

                <RadzenRadialGaugeScalePointer Value="@temp" Length="0.6" ShowValue="true">
                    <Template Context="pointer">
                        <RadzenStack AlignItems="Radzen.AlignItems.Center" class="rz-mt-4">
                            <RadzenText TextStyle="TextStyle.H5"><strong>@pointer.Value</strong></RadzenText>
                            <RadzenText TextStyle="TextStyle.Caption">°C</RadzenText>
                        </RadzenStack>
                    </Template>
                </RadzenRadialGaugeScalePointer>

                <RadzenRadialGaugeScaleRange From="-10" To="20" Fill="blue" />
                <RadzenRadialGaugeScaleRange From="20" To="60" Fill="orange" />
                <RadzenRadialGaugeScaleRange From="60" To="100" Fill="red" />

            </RadzenRadialGaugeScale>
        </RadzenRadialGauge>
        <RadzenText TextStyle="TextStyle.H5"><strong>Temperature</strong></RadzenText>
    </RadzenCard>

    <!-- Humidity Gauge -->
    <RadzenCard Variant="Radzen.Variant.Outlined">
        <RadzenRadialGauge Style="width: 100%; height: 300px;">
            <RadzenRadialGaugeScale StartAngle="-150" EndAngle="150" Step="10" Min="0" Max="100"
                TickPosition="@tickPosition">

                <RadzenRadialGaugeScalePointer Value="@humidity" Length="0.6" ShowValue="true">
                    <Template Context="pointer">
                        <RadzenStack AlignItems="Radzen.AlignItems.Center" class="rz-mt-4">
                            <RadzenText TextStyle="TextStyle.H5"><strong>@pointer.Value</strong></RadzenText>
                            <RadzenText TextStyle="TextStyle.Caption">%</RadzenText>
                        </RadzenStack>
                    </Template>
                </RadzenRadialGaugeScalePointer>

                <RadzenRadialGaugeScaleRange From="-10" To="20" Fill="blue" />
                <RadzenRadialGaugeScaleRange From="20" To="60" Fill="orange" />
                <RadzenRadialGaugeScaleRange From="60" To="100" Fill="red" />

            </RadzenRadialGaugeScale>
        </RadzenRadialGauge>
        <RadzenText TextStyle="TextStyle.H5"><strong>Humidity</strong></RadzenText>
    </RadzenCard>

</RadzenStack>

<RadzenCard class="rz-mt-4" Variant="Radzen.Variant.Outlined">
    <RadzenText TextStyle="TextStyle.H6">Last Kafka message:</RadzenText>
    <RadzenText>@response</RadzenText>
</RadzenCard>

@code {
    private double temp = 0;
    private double humidity = 0;

    private GaugeTickPosition tickPosition = GaugeTickPosition.Inside;

    public string response { get; set; } = "";

    private readonly JsonSerializerSettings settings = new()
    {
        MissingMemberHandling = MissingMemberHandling.Ignore,
        NullValueHandling = NullValueHandling.Include,
        ContractResolver = new DefaultContractResolver
        {
            NamingStrategy = new CamelCaseNamingStrategy()
        }
    };

    protected override async Task OnInitializedAsync()
    {
        _ = Task.Run(() => StartKafkaListener());
    }

    private async Task StartKafkaListener()
    {
        var config = new ConsumerConfig
        {
            BootstrapServers = "192.168.39.55",
            GroupId = "blazor-consumer",
            AutoOffsetReset = AutoOffsetReset.Earliest
        };

        using var consumer = new ConsumerBuilder<string, string>(config).Build();
        consumer.Subscribe("Kevin_Zilas_Mathias");

        Logger.LogInformation("Kafka listener started...");


        while (true)
        {
            try
            {
                var cr = consumer.Consume();
                response = cr.Message.Value;

                var data = JsonConvert.DeserializeObject<TempDTO>(response, settings);
                Logger.LogInformation($"temp {data.Temperature} hum : {data.Humidity}");

                if (data != null)
                {
                    temp = data.Temperature;
                    humidity = data.Humidity;

                }
                await InvokeAsync(StateHasChanged);
            }
            catch (Exception ex)
            {
                Logger.LogError(ex, "Kafka consumer crashed!");
            }

                await Task.Delay(1000);
        }
    }
}